<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand active" routerLink="/"><i class="fas fa-home" ></i> Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/movies"><i class="fas fa-film"></i> Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/music"><i class="fas fa-music"></i> Music</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/videos"><i class="fas fa-video"></i> Videos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signup"><i class="fas fa-user-plus"></i> Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Login In</a>
            </li>
        </ul>
    
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>  
    </header>